.accordion__head {
  position: relative;
  display: flex;
  align-items: center;
}

.accordion__head:hover {
  cursor: pointer;
  color: var(--primary);
}

.accordion__btn {
  position: absolute;
  right: 0;
}

.accordion__title {
  padding: 24px 0;
  padding-right: 44px;
  font-weight: var(--bold-weight);
  font-size: var(--font-size-l);
}

.accordion__content {
  padding-bottom: 24px;
  padding-right: 72px;

  line-height: 32px;
  font-size: var(--font-size-l);

  color: var(--dark-gray);
}

@media screen and (max-width: 375px) {
  .accordion__content {
    font-size: 16px;
    line-height: 28px;
  }
}
