.button {
  cursor: pointer;

  padding: 20px 40px 20px 40px;
  border-radius: 4px;

  font-size: 20px;
  font-weight: var(--bold-weight);

  transition: background-color 0.2s ease-in;
}

.button_blue {
  color: var(--white);
  background-color: var(--primary);
}

.button_blue:hover {
  background-color: var(--primary-hover);
}

.button_blue:disabled {
  background-color: var(--primary-disabled);
}

.button_gray {
  background-color: var(--light-gray);
  color: var(--black);
}

.button_gray:hover {
  border: 1px solid var(--mid-gray);
  background-color: var(--white);
}
